.header{
     height: 200px;
     background-image: url(header.jpg);
     color: white;
     font-size: 40px;
     text-align: center;
     border-radius: 20px;

}
h2{
    color: blue;
    text-align: center;
}
p{
    color: brown;
    font-size: large;
}
.blog{
    color: white;
    margin: 10px 10px;
    width: 95%;
    background-color: rgb(45, 135, 135);
    padding: 20px;
    border-radius: 30px;
}